<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sykyd.db.mapper.CsdTicketsMapper">
    <resultMap id="BaseResultMap" type="cn.sykyd.db.model.CsdTickets">
        <id column="ticket_id" property="ticketId" jdbcType="INTEGER"/>
        <result column="unit_id" property="unitId" jdbcType="INTEGER"/>
        <result column="room_id" property="roomId" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="row" property="row" jdbcType="INTEGER"/>
        <result column="column" property="column" jdbcType="INTEGER"/>
        <result column="sn" property="sn" jdbcType="VARCHAR"/>
        <result column="line_id" property="lineId" jdbcType="INTEGER"/>
        <result column="line_name" property="lineName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="BIT"/>
        <result column="alarm_time" property="alarmTime" jdbcType="CHAR"/>
        <result column="created" property="created" jdbcType="CHAR"/>
        <result column="modified" property="modified" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ticket_id, unit_id, room_id, id, `row`, `column`, sn, line_id, line_name, `status`, alarm_time,
        created, modified
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from csd_tickets
        where ticket_id = #{ticketId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from csd_tickets
        where ticket_id = #{ticketId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.sykyd.db.model.CsdTickets">
        insert into csd_tickets (ticket_id, unit_id, room_id,
        id, `row`, `column`, sn,
        line_id, line_name, `status`,
        alarm_time, created, modified
        )
        values (#{ticketId,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER},
        #{id,jdbcType=INTEGER}, #{row,jdbcType=INTEGER}, #{column,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR},
        #{lineId,jdbcType=INTEGER}, #{lineName,jdbcType=VARCHAR}, #{status,jdbcType=BIT},
        #{alarmTime,jdbcType=CHAR}, #{created,jdbcType=CHAR}, #{modified,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.sykyd.db.model.CsdTickets">
        insert into csd_tickets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ticketId != null">
                ticket_id,
            </if>
            <if test="unitId != null">
                unit_id,
            </if>
            <if test="roomId != null">
                room_id,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="row != null">
                `row`,
            </if>
            <if test="column != null">
                `column`,
            </if>
            <if test="sn != null">
                sn,
            </if>
            <if test="lineId != null">
                line_id,
            </if>
            <if test="lineName != null">
                line_name,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="alarmTime != null">
                alarm_time,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified != null">
                modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ticketId != null">
                #{ticketId,jdbcType=INTEGER},
            </if>
            <if test="unitId != null">
                #{unitId,jdbcType=INTEGER},
            </if>
            <if test="roomId != null">
                #{roomId,jdbcType=INTEGER},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="row != null">
                #{row,jdbcType=INTEGER},
            </if>
            <if test="column != null">
                #{column,jdbcType=INTEGER},
            </if>
            <if test="sn != null">
                #{sn,jdbcType=VARCHAR},
            </if>
            <if test="lineId != null">
                #{lineId,jdbcType=INTEGER},
            </if>
            <if test="lineName != null">
                #{lineName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="alarmTime != null">
                #{alarmTime,jdbcType=CHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=CHAR},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.sykyd.db.model.CsdTickets">
        update csd_tickets
        <set>
            <if test="unitId != null">
                unit_id = #{unitId,jdbcType=INTEGER},
            </if>
            <if test="roomId != null">
                room_id = #{roomId,jdbcType=INTEGER},
            </if>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="row != null">
                `row` = #{row,jdbcType=INTEGER},
            </if>
            <if test="column != null">
                `column` = #{column,jdbcType=INTEGER},
            </if>
            <if test="sn != null">
                sn = #{sn,jdbcType=VARCHAR},
            </if>
            <if test="lineId != null">
                line_id = #{lineId,jdbcType=INTEGER},
            </if>
            <if test="lineName != null">
                line_name = #{lineName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BIT},
            </if>
            <if test="alarmTime != null">
                alarm_time = #{alarmTime,jdbcType=CHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=CHAR},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=CHAR},
            </if>
        </set>
        where ticket_id = #{ticketId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.sykyd.db.model.CsdTickets">
        update csd_tickets
        set unit_id = #{unitId,jdbcType=INTEGER},
        room_id = #{roomId,jdbcType=INTEGER},
        id = #{id,jdbcType=INTEGER},
        `row` = #{row,jdbcType=INTEGER},
        `column` = #{column,jdbcType=INTEGER},
        sn = #{sn,jdbcType=VARCHAR},
        line_id = #{lineId,jdbcType=INTEGER},
        line_name = #{lineName,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=BIT},
        alarm_time = #{alarmTime,jdbcType=CHAR},
        created = #{created,jdbcType=CHAR},
        modified = #{modified,jdbcType=CHAR}
        where ticket_id = #{ticketId,jdbcType=INTEGER}
    </update>
</mapper>